#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_ICON_MAIN       ICON           ".\\icon.ico"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1 VERSIONINFO
    FILEVERSION     0,1,0,12
    PRODUCTVERSION  0,1,0,12
    FILEOS          VOS_UNKNOWN
    FILETYPE        VFT_UNKNOWN
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "000004B0"
        {
            VALUE "Comments", 			"Automatic upgrading module for WIN32 application."
            VALUE "CompanyName", 		"(C)2013 Rageworx freeware."
            VALUE "FileDescription", 	"Auto Upgrade Tool"
            VALUE "FileVersion", 		"BETA01"
            VALUE "InternalName", 		"AUTOUP.FLTK130.WIN32"
            VALUE "LegalCopyright", 	"rageworx@gmail.com"
            VALUE "LegalTrademarks", 	"(C)2013 Rageworx freeware."
            VALUE "OriginalFilename", 	"AUTOUP.EXE"
            VALUE "PrivateBuild", 		""
            VALUE "ProductName", 		"Automatic Upgrader"
            VALUE "ProductVersion", 	"0.1.0.12"
            VALUE "SpecialBuild", 		""
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0000, 0x04B0
    }
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1                  RT_MANIFEST    ".\\manifest.xml"
